In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np

In [4]:
url='datasets1/weatherAUS.csv'

In [5]:
df= pd.read_csv(url)

In [6]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [7]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [8]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [9]:
MinTemp_mean= df['MinTemp'].mean()
MinTemp_mean

12.186399728729265

In [10]:
df['MinTemp']=df['MinTemp'].replace(np.nan,MinTemp_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [11]:
MaxTemp_mean= df['MaxTemp'].mean()
MaxTemp_mean

23.226784191272355

In [12]:
df['MaxTemp']=df['MaxTemp'].replace(np.nan,MaxTemp_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [13]:
Rainfall_mean= df['Rainfall'].mean()
Rainfall_mean

2.349974074310838

In [14]:
df['Rainfall']=df['Rainfall'].replace(np.nan,Rainfall_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [15]:
Evaporation_mean= df['Evaporation'].mean()
Evaporation_mean

5.469824216349109

In [16]:
df['Evaporation']=df['Evaporation'].replace(np.nan,Evaporation_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.469824,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.469824,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.469824,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.469824,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.469824,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [17]:
Sunshine_mean= df['Sunshine'].mean()
Sunshine_mean

7.624853113193594

In [18]:
df['Sunshine']=df['Sunshine'].replace(np.nan,Sunshine_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.469824,7.624853,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.469824,7.624853,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.469824,7.624853,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.469824,7.624853,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [19]:
WindGustSpeed_mean= df['WindGustSpeed'].mean()
WindGustSpeed_mean

39.98429165757619

In [20]:
df['WindGustSpeed']=df['WindGustSpeed'].replace(np.nan,WindGustSpeed_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.469824,7.624853,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.469824,7.624853,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.469824,7.624853,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.469824,7.624853,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [21]:
WindSpeed9am_mean= df['WindSpeed9am'].mean()
WindSpeed9am_mean
df['WindSpeed9am']=df['WindSpeed9am'].replace(np.nan,WindSpeed9am_mean)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.469824,7.624853,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.469824,7.624853,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.469824,7.624853,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.469824,7.624853,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [22]:
WindSpeed3pm_mean= df['WindSpeed3pm'].mean()
WindSpeed3pm_mean
df['WindSpeed3pm']=df['WindSpeed3pm'].replace(np.nan,WindSpeed3pm_mean)

Humidity9am_mean= df['Humidity9am'].mean()
Humidity9am_mean
df['Humidity9am']=df['Humidity9am'].replace(np.nan,Humidity9am_mean)

Humidity3pm_mean= df['Humidity3pm'].mean()
Humidity3pm_mean
df['Humidity3pm']=df['Humidity3pm'].replace(np.nan,Humidity3pm_mean)

Pressure9am_mean= df['Pressure9am'].mean()
Pressure9am_mean
df['Pressure9am']=df['Pressure9am'].replace(np.nan,Pressure9am_mean)

Pressure3pm_mean= df['Pressure3pm'].mean()
Pressure3pm_mean
df['Pressure3pm']=df['Pressure3pm'].replace(np.nan,Pressure3pm_mean)

Cloud9am_mean= df['Cloud9am'].mean()
Cloud9am_mean
df['Cloud9am']=df['Cloud9am'].replace(np.nan,Cloud9am_mean)

Cloud3pm_mean= df['Cloud3pm'].mean()
Cloud3pm_mean
df['Cloud3pm']=df['Cloud3pm'].replace(np.nan,Cloud3pm_mean)

Temp9am_mean= df['Temp9am'].mean()
Temp9am_mean
df['Temp9am']=df['Temp9am'].replace(np.nan,Temp9am_mean)

Temp3pm_mean= df['Temp3pm'].mean()
Temp3pm_mean
df['Temp3pm']=df['Temp3pm'].replace(np.nan,Temp3pm_mean)

RISK_MM_mean= df['RISK_MM'].mean()
RISK_MM_mean
df['RISK_MM']=df['RISK_MM'].replace(np.nan,RISK_MM_mean)



df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.469824,7.624853,W,44.0,W,...,22.0,1007.7,1007.1,8.000000,4.503167,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,...,25.0,1010.6,1007.8,4.437189,4.503167,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.469824,7.624853,WSW,46.0,W,...,30.0,1007.6,1008.7,4.437189,2.000000,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.469824,7.624853,NE,24.0,SE,...,16.0,1017.6,1012.8,4.437189,4.503167,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.469824,7.624853,W,41.0,ENE,...,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,No,0.2,No

In [23]:
df['MinTemp'] = df['MinTemp']/df['MinTemp'].max()
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,0.395280,22.9,0.6,5.469824,7.624853,W,44.0,W,...,22.0,1007.7,1007.1,8.000000,4.503167,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,0.218289,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,...,25.0,1010.6,1007.8,4.437189,4.503167,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,0.380531,25.7,0.0,5.469824,7.624853,WSW,46.0,W,...,30.0,1007.6,1008.7,4.437189,2.000000,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,0.271386,28.0,0.0,5.469824,7.624853,NE,24.0,SE,...,16.0,1017.6,1012.8,4.437189,4.503167,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,0.516224,32.3,1.0,5.469824,7.624853,W,41.0,ENE,...,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,No,0.2,No

In [24]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [25]:
#normalizing the data
df['MaxTemp'] = df['MaxTemp']/df['MaxTemp'].max()
df['Rainfall'] = df['Rainfall']/df['Rainfall'].max()
df['Evaporation'] = df['Evaporation']/df['Evaporation'].max()
df['Sunshine'] = df['Sunshine']/df['Sunshine'].max()
df['WindGustSpeed'] = df['WindGustSpeed']/df['WindGustSpeed'].max()
df['WindSpeed9am'] = df['WindSpeed9am']/df['WindSpeed9am'].max()
df['WindSpeed3pm'] = df['WindSpeed3pm']/df['WindSpeed3pm'].max()
df['Humidity9am'] = df['Humidity9am']/df['Humidity9am'].max()
df['Humidity3pm'] = df['Humidity3pm']/df['Humidity3pm'].max()
df['Pressure9am'] = df['Pressure9am']/df['Pressure9am'].max()
df['Pressure3pm'] = df['Pressure3pm']/df['Pressure3pm'].max()
df['Cloud9am'] = df['Cloud9am']/df['Cloud9am'].max()
df['Cloud3pm'] = df['Cloud3pm']/df['Cloud3pm'].max()
df['Temp9am'] = df['Temp9am']/df['Temp9am'].max()
df['Temp3pm'] = df['Temp3pm']/df['Temp3pm'].max()
df['RISK_MM'] = df['RISK_MM']/df['RISK_MM'].max()

df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,0.395280,0.476091,0.001617,0.037723,0.525852,W,0.325926,W,...,0.22,0.968012,0.968738,0.888889,0.500352,0.420398,0.466809,No,0.000000,No
1,2008-12-02,Albury,0.218289,0.521830,0.000000,0.037723,0.525852,WNW,0.325926,NNW,...,0.25,0.970797,0.969411,0.493021,0.500352,0.427861,0.520343,No,0.000000,No
2,2008-12-03,Albury,0.380531,0.534304,0.000000,0.037723,0.525852,WSW,0.340741,W,...,0.30,0.967915,0.970277,0.493021,0.222222,0.522388,0.496788,No,0.000000,No
3,2008-12-04,Albury,0.271386,0.582121,0.000000,0.037723,0.525852,NE,0.177778,SE,...,0.16,0.977522,0.974221,0.493021,0.500352,0.450249,0.567452,No,0.002695,No
4,2008-12-05,Albury,0.516224,0.671518,0.002695,0.037723,0.525852,W,0.303704,ENE,...,0.33,0.970989,0.967680,0.777778,0.888889,0.442786,0.635974,No,0.000539,No

In [26]:
#Changing YES/NO to 0/1
rain = {'No': 0,'Yes': 1}
df.RainTomorrow = [rain[item] for item in df.RainTomorrow]

In [27]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,0.395280,0.476091,0.001617,0.037723,0.525852,W,0.325926,W,...,0.22,0.968012,0.968738,0.888889,0.500352,0.420398,0.466809,No,0.000000,0
1,2008-12-02,Albury,0.218289,0.521830,0.000000,0.037723,0.525852,WNW,0.325926,NNW,...,0.25,0.970797,0.969411,0.493021,0.500352,0.427861,0.520343,No,0.000000,0
2,2008-12-03,Albury,0.380531,0.534304,0.000000,0.037723,0.525852,WSW,0.340741,W,...,0.30,0.967915,0.970277,0.493021,0.222222,0.522388,0.496788,No,0.000000,0
3,2008-12-04,Albury,0.271386,0.582121,0.000000,0.037723,0.525852,NE,0.177778,SE,...,0.16,0.977522,0.974221,0.493021,0.500352,0.450249,0.567452,No,0.002695,0
4,2008-12-05,Albury,0.516224,0.671518,0.002695,0.037723,0.525852,W,0.303704,ENE,...,0.33,0.970989,0.967680,0.777778,0.888889,0.442786,0.635974,No,0.000539,0

In [28]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow       int64
dtype: object

In [29]:
data1 = df[['MinTemp','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               MinTemp  RainTomorrow
MinTemp       1.000000      0.083717
RainTomorrow  0.083717      1.000000

In [30]:
data1 = df[['MaxTemp','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               MaxTemp  RainTomorrow
MaxTemp       1.000000     -0.159087
RainTomorrow -0.159087      1.000000

In [31]:
data1 = df[['Rainfall','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Rainfall  RainTomorrow
Rainfall      1.000000      0.236874
RainTomorrow  0.236874      1.000000

In [32]:
data1 = df[['Evaporation','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Evaporation  RainTomorrow
Evaporation      1.000000     -0.089551
RainTomorrow    -0.089551      1.000000

In [33]:
data1 = df[['Sunshine','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Sunshine  RainTomorrow
Sunshine      1.000000     -0.327029
RainTomorrow -0.327029      1.000000

In [34]:
data1 = df[['WindGustSpeed','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               WindGustSpeed  RainTomorrow
WindGustSpeed       1.000000      0.225264
RainTomorrow        0.225264      1.000000

In [35]:
data1 = df[['WindSpeed9am','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              WindSpeed9am  RainTomorrow
WindSpeed9am      1.000000      0.090524
RainTomorrow      0.090524      1.000000

In [36]:
data1 = df[['WindSpeed3pm','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              WindSpeed3pm  RainTomorrow
WindSpeed3pm      1.000000      0.086909
RainTomorrow      0.086909      1.000000

In [37]:
data1 = df[['Humidity9am','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Humidity9am  RainTomorrow
Humidity9am      1.000000      0.255158
RainTomorrow     0.255158      1.000000

In [38]:
data1 = df[['Humidity3pm','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Humidity3pm  RainTomorrow
Humidity3pm      1.000000      0.439678
RainTomorrow     0.439678      1.000000

In [39]:
data1 = df[['Pressure9am','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Pressure9am  RainTomorrow
Pressure9am      1.000000     -0.234027
RainTomorrow    -0.234027      1.000000

In [40]:
data1 = df[['Pressure3pm','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Pressure3pm  RainTomorrow
Pressure3pm      1.000000     -0.214688
RainTomorrow    -0.214688      1.000000

In [41]:
data1 = df[['Cloud9am','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Cloud9am  RainTomorrow
Cloud9am      1.000000      0.253832
RainTomorrow  0.253832      1.000000

In [42]:
data1 = df[['Cloud3pm','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              Cloud3pm  RainTomorrow
Cloud3pm      1.000000      0.301841
RainTomorrow  0.301841      1.000000

In [43]:
data1 = df[['Temp9am','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               Temp9am  RainTomorrow
Temp9am       1.000000     -0.025582
RainTomorrow -0.025582      1.000000

In [44]:
data1 = df[['Temp3pm','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               Temp3pm  RainTomorrow
Temp3pm       1.000000     -0.190286
RainTomorrow -0.190286      1.000000

In [45]:
data1 = df[['RISK_MM','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

               RISK_MM  RainTomorrow
RISK_MM       1.000000      0.501485
RainTomorrow  0.501485      1.000000

ABOVE CORRELATIONS WERE FOR RAIN_TOMORROW

In [46]:
df['RainToday']=df['RainToday'].replace(np.nan,'No')

In [47]:
#now convert rain_today in binary numbers
rain = {'No': 0,'Yes': 1}
df.RainToday = [rain[item] for item in df.RainToday]
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,0.395280,0.476091,0.001617,0.037723,0.525852,W,0.325926,W,...,0.22,0.968012,0.968738,0.888889,0.500352,0.420398,0.466809,0,0.000000,0
1,2008-12-02,Albury,0.218289,0.521830,0.000000,0.037723,0.525852,WNW,0.325926,NNW,...,0.25,0.970797,0.969411,0.493021,0.500352,0.427861,0.520343,0,0.000000,0
2,2008-12-03,Albury,0.380531,0.534304,0.000000,0.037723,0.525852,WSW,0.340741,W,...,0.30,0.967915,0.970277,0.493021,0.222222,0.522388,0.496788,0,0.000000,0
3,2008-12-04,Albury,0.271386,0.582121,0.000000,0.037723,0.525852,NE,0.177778,SE,...,0.16,0.977522,0.974221,0.493021,0.500352,0.450249,0.567452,0,0.002695,0
4,2008-12-05,Albury,0.516224,0.671518,0.002695,0.037723,0.525852,W,0.303704,ENE,...,0.33,0.970989,0.967680,0.777778,0.888889,0.442786,0.635974,0,0.000539,0

NOW FIND CORRELATION BETWEEN RAINTODAY AND OTHER FEATURES

In [48]:
data1 = df[['MinTemp','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

            MinTemp  RainToday
MinTemp    1.000000   0.055645
RainToday  0.055645   1.000000

In [49]:
data1 = df[['MaxTemp','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

            MaxTemp  RainToday
MaxTemp    1.000000  -0.226474
RainToday -0.226474   1.000000

In [50]:
data1 = df[['Rainfall','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

           Rainfall  RainToday
Rainfall   1.000000   0.500286
RainToday  0.500286   1.000000

In [51]:
data1 = df[['Evaporation','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

             Evaporation  RainToday
Evaporation     1.000000  -0.141089
RainToday      -0.141089   1.000000

In [52]:
data1 = df[['Sunshine','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

           Sunshine  RainToday
Sunshine    1.00000   -0.23898
RainToday  -0.23898    1.00000

In [53]:
data1 = df[['WindGustSpeed','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

               WindGustSpeed  RainToday
WindGustSpeed       1.000000   0.148244
RainToday           0.148244   1.000000

In [54]:
data1 = df[['WindSpeed9am','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

              WindSpeed9am  RainToday
WindSpeed9am      1.000000   0.100568
RainToday         0.100568   1.000000

In [55]:
data1 = df[['WindSpeed3pm','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

              WindSpeed3pm  RainToday
WindSpeed3pm      1.000000   0.078357
RainToday         0.078357   1.000000

In [56]:
data1 = df[['Humidity9am','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

             Humidity9am  RainToday
Humidity9am     1.000000   0.348841
RainToday       0.348841   1.000000

In [57]:
data1 = df[['Humidity3pm','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

             Humidity3pm  RainToday
Humidity3pm     1.000000   0.370556
RainToday       0.370556   1.000000

In [58]:
data1 = df[['Pressure9am','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

             Pressure9am  RainToday
Pressure9am     1.000000  -0.179226
RainToday      -0.179226   1.000000

In [59]:
data1 = df[['Pressure3pm','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

             Pressure3pm  RainToday
Pressure3pm     1.000000  -0.100386
RainToday      -0.100386   1.000000

In [60]:
data1 = df[['Cloud9am','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

           Cloud9am  RainToday
Cloud9am   1.000000   0.245102
RainToday  0.245102   1.000000

In [61]:
data1 = df[['Cloud3pm','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

           Cloud3pm  RainToday
Cloud3pm    1.00000    0.21399
RainToday   0.21399    1.00000

In [62]:
data1 = df[['Temp9am','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

            Temp9am  RainToday
Temp9am    1.000000  -0.095852
RainToday -0.095852   1.000000

In [63]:
data1 = df[['Temp3pm','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

            Temp3pm  RainToday
Temp3pm    1.000000  -0.230616
RainToday -0.230616   1.000000

In [64]:
data1 = df[['RISK_MM','RainToday']]
correlation = data1.corr(method='pearson')
print(correlation)

            RISK_MM  RainToday
RISK_MM    1.000000   0.214971
RainToday  0.214971   1.000000

Now lets find correlation between rain_today and rain_tomorrow

In [65]:
data1 = df[['RainToday','RainTomorrow']]
correlation = data1.corr(method='pearson')
print(correlation)

              RainToday  RainTomorrow
RainToday      1.000000      0.306555
RainTomorrow   0.306555      1.000000

NEXT TIME DIRECT GO FOR K MEAN CLASSIFICATION FOR TARGET VARIABLE AS RAINTODAY

In [119]:
X= df[['Humidity3pm','Humidity9am','Cloud9am','Temp3pm','Cloud3pm','MaxTemp','Sunshine','RISK_MM','Pressure9am','Pressure3pm','WindGustSpeed','Evaporation','WindSpeed9am','WindSpeed3pm','']].values
X[0:5]

array([[2.20000000e-01, 7.10000000e-01, 8.88888889e-01, 4.66809422e-01,
        5.00351878e-01, 4.76091476e-01, 5.25851939e-01, 0.00000000e+00,
        9.68011527e-01, 9.68737976e-01, 3.25925926e-01, 3.77229256e-02,
        1.53846154e-01, 2.75862069e-01],
       [2.50000000e-01, 4.40000000e-01, 4.93021044e-01, 5.20342612e-01,
        5.00351878e-01, 5.21829522e-01, 5.25851939e-01, 0.00000000e+00,
        9.70797310e-01, 9.69411312e-01, 3.25925926e-01, 3.77229256e-02,
        3.07692308e-02, 2.52873563e-01],
       [3.00000000e-01, 3.80000000e-01, 4.93021044e-01, 4.96788009e-01,
        2.22222222e-01, 5.34303534e-01, 5.25851939e-01, 0.00000000e+00,
        9.67915466e-01, 9.70277030e-01, 3.40740741e-01, 3.77229256e-02,
        1.46153846e-01, 2.98850575e-01],
       [1.60000000e-01, 4.50000000e-01, 4.93021044e-01, 5.67451820e-01,
        5.00351878e-01, 5.82120582e-01, 5.25851939e-01, 2.69541779e-03,
        9.77521614e-01, 9.74220854e-01, 1.77777778e-01, 3.77229256e-02,
        8.46153846e-02, 1.03448276e-01],
       [3.30000000e-01, 8.20000000e-01, 7.77777778e-01, 6.35974304e-01,
        8.88888889e-01, 6.71517672e-01, 5.25851939e-01, 5.39083558e-04,
        9.70989433e-01, 9.67679877e-01, 3.03703704e-01, 3.77229256e-02,
        5.38461538e-02, 2.29885057e-01]])

In [120]:
Y= df[['RainToday']].values
Y[0:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [121]:
#normalize data
from sklearn import preprocessing
X= preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[-1.43593492e+00,  1.13891218e-01,  1.56395852e+00,
         1.64123395e-02,  0.00000000e+00, -4.59642500e-02,
        -1.17723713e-15, -2.78449932e-01, -1.47545613e+00,
        -1.22096552e+00,  3.05648104e-01,  3.17584241e-16,
         6.77661026e-01,  6.14849683e-01],
       [-1.28982149e+00, -1.31226479e+00,  2.19308385e-16,
         3.80273812e-01,  0.00000000e+00,  2.63479575e-01,
        -1.17723713e-15, -2.78449932e-01, -1.04558606e+00,
        -1.11620276e+00,  3.05648104e-01,  3.17584241e-16,
        -1.13003399e+00,  3.85531872e-01],
       [-1.04629910e+00, -1.62918835e+00,  2.19308385e-16,
         2.20174764e-01, -1.18932173e+00,  3.47873345e-01,
        -1.17723713e-15, -2.78449932e-01, -1.49027923e+00,
        -9.81507795e-01,  4.57874351e-01,  3.17584241e-16,
         5.64680087e-01,  8.44167495e-01],
       [-1.72816178e+00, -1.25944420e+00,  2.19308385e-16,
         7.00471907e-01,  0.00000000e+00,  6.71382799e-01,
        -1.17723713e-15, -1.60496740e-01, -7.96866679e-03,
        -3.67897385e-01, -1.21661436e+00,  3.17584241e-16,
        -3.39167422e-01, -1.10503390e+00],
       [-9.00185668e-01,  6.94917739e-01,  1.12499089e+00,
         1.16621459e+00,  1.66143919e+00,  1.27620482e+00,
        -1.17723713e-15, -2.54859293e-01, -1.01593985e+00,
        -1.38559270e+00,  7.73087343e-02,  3.17584241e-16,
        -7.91091177e-01,  1.56214061e-01]])

In [127]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.95,random_state=4)
print('train set: ',X_train.shape, Y_train.shape)
print('test set: ',X_test.shape, Y_test.shape)

train set:  (7109, 14) (7109, 1)
test set:  (135084, 14) (135084, 1)

In [128]:
#now for classification
from sklearn.neighbors import KNeighborsClassifier

In [159]:
#training
k=10
neigh = KNeighborsClassifier(n_neighbors=k).fit(X_train,Y_train)
neigh

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='uniform')

In [160]:
#predicting
yhat= neigh.predict(X_test)
yhat[0:5]

array([0, 0, 0, 0, 0])

In [161]:
#accuracy evaluation
from sklearn import metrics
print("Train set accuracy: ", metrics.accuracy_score(Y_train,neigh.predict(X_train)))
print("Test set accuracy: ", metrics.accuracy_score(Y_test,yhat))

Train set accuracy:  0.8400618933745956
Test set accuracy:  0.8106437475940896

In [ ]:
Thus we can